{% extends "orders/base.html" %}
{% block scripts %}

<script>
  window.addEventListener('load', function () {
    const getid = document.querySelector('#toppingCount');
    const limit = getid.dataset.count;

    $(`.item`).on('change', function () {
        if ($(`.item:checked`).length > limit) {
            this.checked = false;
            alert('Max toppings for order selected')
        }
    });

  });
  </script>
{% endblock %}
{% block title %} Create Order {% endblock %}

{% block body %}
<h1>Create Order</h1>
<a href="/logout">Logout</a>
Hello {{ user.first_name }}



<!-- create order form  -->
<form action="{% url 'add' %}" method="POST">
    <div class="form-group">
   
    {% csrf_token %}
    <input type="hidden" name="user" value="{{user.id}}">
    <input type="hidden" name="menuItem" value="{{ menuitem.id }}">
    <label class="form-control">{{ menuitem.item.name }} {{ menuitem.size }} {{ menuitem.price }}</label>
    {% if menuitem.item.hasToppings %}
    <input class="form-control" id="toppingCount" type="hidden" data-count="{{ menuitem.item.toppingCount }}">
    <div class="accordion" id="accordionCheckbox">
        <div class="card">
          <div class="card-header" id="heading">
            <h2 class="mb-0">
              <button class="checkboxbutton btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#this" aria-expanded="false" aria-controls="this">
                Select Toppings
              </button>
            </h2>
          </div>
      
          <div id="this" class="collapse" aria-labelledby="heading" data-parent="#accordionCheckbox">
            <div class="card-body">
                 <!-- Checkboxes start  here -->
                {% for topping in toppings %}
               
                <div class="form-check">
                    <input class="item" type="checkbox" value="{{topping.id}}" name="topping">
                    <label class="form-check-label" >
                        {{ topping.name }}
                    </label>
                </div>
         
                {% endfor %}
                <!-- Checkboxes end  here -->
            </div>
            </div>
          </div>
        </div>
    {% endif %}
    <!-- end toppings -->

    <label for="ordercount">How many?</label>
    <select class="form-control" id="ordercount" name="count">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
    </select>

    <button id="addOrder" class="form-control" type="submit">Add To Cart</button>
</div>
</form>


{% endblock %}