{% extends "orders/base.html" %}

{% block title %} {{menu.name}} Menu {% endblock %}

{% block body %}
<h1>{{ menu.name }} Menu</h1>
<div class="card-deck">
 <div class="row">
   {% for section in sections %}
   <div class="col-4">
      <div class="card">
         {% load static %}
       <img src="{{ section.photo }}" class="card-img-top" alt="...">
       <div class="card-body">
         <a href="{% url 'section' menu.id section.id %}" class="btn btn-success">{{section.name}}</a>
       </div>
     </div>
   </div>
  
   {% endfor %}

 </div>
   
 </div>



{% endblock %}