{% extends "orders/base.html" %}
{% block title %} Login {% endblock %}
{% block body %}

<h1 class="display-4">{{section.name}} in {{ menu.name }} Menu</h1>
<!-- Check if user has address saved or request address -->
{% if user.address.get %}
Deliver to
{{ user.address.get.street }}, {{ user.address.get.city }}, {{ user.address.get.state }} {{ user.address.get.zipcode }}
{% else %}
<p>Enter a delivery address</p>
<form action="{% url 'add_address' menu.id section.id %}" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="street" name="street">
    <input type="text" placeholder="city" name="city">
    <input type="text" placeholder="state" name="state">
    <input type="number" placeholder="zipcode" name="zipcode" maxlength="5">
    <button type="submit">Add Address</button>
</form>
{% endif %}
<!-- END Check if user has address saved or request address -->


<!-- SECTION LINKS -->

<ul class="nav nav-tabs" style="margin-top: 30px;">
    {% for link in menu.sections.all %}
    <li class="nav-item">
        {% if link.id == section.id %}
        <a class="nav-link active" href="{% url 'section' menu.id link.id %}">{{link.name}}</a>
        {% else %}
        <a class="nav-link" href="{% url 'section' menu.id link.id %}">{{link.name}}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<!-- END SECTION LINKS -->

<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-8">
            <!-- Regroup queried items to arrange into 2 columns or as needed -->
            <div class="table-responsive">
                <table class="table table-sm ">
                    {% regroup menuitems by item as item_list %}
                    <tr>
                        {% for items, item_name in item_list %}
                        <td>
                            <b>{{  items.name }} </b>
                        </td>
                        {% for item in item_name reversed %}
                        <td>
                            <a href="{% url 'create' menu.id section.id item.id %}"> <button
                                    class="btn btn-outline-success btn-sm" type="submit">{{ item.size }}
                                    ${{ item.price }}</button> </a>
                        </td>
                        {% endfor %}

                    </tr>
                    {% endfor %}

                </table>
            </div>
            <!-- END Regroup queried items to arrange into 2 columns or as needed -->
        </div>
        <div class="col-md-4">
            <!-- Cart -->
            <div class="row">
                <div class="col order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-danger badge-pill">{{ cart.total_items }}</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {% for order in orders %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"> {{ order.menuItem.section.name }} {{ order.menuItem.item.name }} </h6>
                                <form action="{% url 'delete' menu.id section.id order.id %}" method="POST">
                                    {% csrf_token %}
                                    <small class="text-muted"> {{ order.count}} Items</small>
                                    <button class="btn btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                            <span class="text-muted">${{ order.order_cost }}</span>
                        </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between">
                            {% if cart.cart_total == 0 %}
                            <span>Your Cart is Empty</span>
                            {% else %}
                            <span>Total (USD)</span>
                            <strong>${{ cart.cart_total }}</strong>

                        </li>
                    </ul>
                    <form action="{% url 'checkout' cart.id %}" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                <select name="orderOption" class="form-control" id="orderOption">
                                    <option value="PU">Pick up</option>
                                    <option value="DL">Delivery</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input name="instructions" type="text" class="form-control" placeholder="Instructions">
                            </div>
                            <div class="form-group">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ key }}" data-description="Pinocchio's Pizza & Subs"
                                    data-amount="{{ cart.stripe_total }}" data-locale="auto">
                                    </script>
                            </div>
                    </form>
                </div>
               
                {% endif %}
            </div>
            <!-- END Cart -->
        </div>
    </div>
</div>
<br />




</div>



</form>

{% endblock %}