{% extends "orders/base.html" %}
{% block title %} Login {% endblock %}
{% block body %}

<h1>Main page</h1>
<a href="/logout">Logout</a>
Hello {{ user.first_name }}
<!-- Check if user has address saved or request address -->
{% if user.address %}
 {{ user.address.street }}
{% else %}
    <p>add delivery address</p>
    <form action="{% url 'add_address' menu.id section.id %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="street" name="street">
        <input type="text" placeholder="city" name="city">
        <input type="text" placeholder="state" name="state">
        <input type="number" placeholder="zipcode" name="zipcode" maxlength="5">
        <button type="submit">Add Address</button>
    </form>
{% endif %}
<!-- END Check if user has address saved or request address -->
<p id="menu" data-menu="{{menu.id}}">{{ menu.name }}</p>
<p id="section" data-section="{{section.id}}">
    {{section.name}}
</p>

<br />
<!-- Regroup queried items to arrange into 2 columns or as needed -->
<table>
    {% regroup menuitems by item as item_list %}
    <tr>
        {% for items, item_name in item_list %}
        <td>
            {{  items.name }}
        </td>
        {% for item in item_name reversed %}
        <td>
            <a href="{% url 'create' menu.id section.id item.id %}"> <button class="btn btn-primary" type="submit">{{ item.size }} ${{ item.price }}</button> </a>
        </td>
        {% endfor %}

    </tr>
    {% endfor %}

</table>
<!-- END Regroup queried items to arrange into 2 columns or as needed -->
<hr />
<!-- Show items in cart -->
<h2 id='ordersToPlace'>Your Orders</h2>

<ul id="orders">
    {% for order in orders %}
    <li>
        <form action="{% url 'delete' menu.id section.id order.id %}" method="POST">
            {% csrf_token %}
            {{ order.menuItem.item.name }} Count: {{ order.count }} 
           {% for topping in order.toppings.all %}
                {{ topping.name }}
           {% endfor %}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<!-- END Show items in cart -->
{% endblock %}